body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #fff !important;
}

@import './styles/PokeAPI.css';

.ContextScreen {
  max-width: 50rem;
  margin: 4rem auto;
  max-height: 100vh;
  padding: 0 20px;
}

.is_user {
  color: red !important;
  font-size: 18px;
}

.pokelink {
  color: rgb(224, 135, 135) !important;
  font-size: 18px;
}

.home--wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-link {
  color: #fff;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.input {
  width: 50%;
}

.header-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-left: 20px;
}

.btn-submit {
  width: 150px;
  background-color: #cccc;
  transition: all 0.3s ease-in;
}

.btn-short {
  background-color: blue !important;
  border-color: blue !important;
  margin-right: 20px;
  width: 72px;
  transition: all 0.3s ease-in;
}

.card-list {
  max-height: calc(100vh - 226px);
  overflow-y: auto;
  overflow-x: hidden;
}

.list {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0,0,0,.125);
}

@media screen and (max-width: 540px) {
  .ContextScreen {
    margin: 20px auto;
  }

  .heading {
    flex-direction: column;
  }

  .input {
    width: 100%;
    margin-bottom: 20px;
  }

  .header-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
  
  .btn-submit {
    width: 100%;
    transition: all 0.3s ease-in;
  }

  .btn-short {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    transition: all 0.3s ease-in;
  }

  .btn-delete-header {
    width: 100%;
  }
}